.button{
    -fx-border-color: null;
    -fx-background-color: black;
    -fx-background-radius: 5px;
    -fx-font-size: 14px;
    -fx-text-fill: #eeeeee;
}

.button:hover  {
    -fx-background-color: #555555;

}

.button .ikonli-font-icon {
    -fx-icon-color: white;
    -fx-icon-size: 20px;
}

.button:hover .ikonli-font-icon {
    -fx-icon-color: black;
}

.label .ikonli-font-icon {
    -fx-icon-size: 20px;
}

#appDetalle .label{
    -fx-font-size: 15px;
}

#appDetalle .label:hover{
    -fx-underline: true;
}

#appGrafica .label{
    -fx-underline: true;
}

.list-view .list-cell {
    -fx-text-fill: black;
    -fx-border-width: 0.7px;
    -fx-border-color: black;
}

.list-cell:filled:hover {
    -fx-background-color: #0093ff;
    -fx-text-fill: white;
}

