.button{
    -fx-border-color: null;
    -fx-background-color: black;
    -fx-background-radius: 5px;
    -fx-font-size: 14px;
    -fx-text-fill: #eeeeee;
}

.button:hover  {
    -fx-background-color: #555555;

}

.label{
    -fx-font-size: 15px;
}

.list-cell:filled:hover {
    -fx-background-color: #0093ff;
    -fx-text-fill: white;
}

#btnAtras .ikonli-font-icon {
    -fx-icon-color: white;
}

#btnAtras:hover .ikonli-font-icon{
    -fx-icon-color: black ;
}

#btnAtrasG .ikonli-font-icon {
    -fx-icon-color: white;
}

#btnAtrasG:hover .ikonli-font-icon{
    -fx-icon-color: black ;
}

#btnGrafica .ikonli-font-icon {
    -fx-icon-color: white;
}

#btnGrafica:hover .ikonli-font-icon{
    -fx-icon-color: black ;
}

#btnSalir .ikonli-font-icon {
    -fx-icon-color: white;
}

#btnSalir:hover .ikonli-font-icon{
    -fx-icon-color: black ;
}